body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  color: white;
}
html, body {
  height: 100%;
  margin: 0;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: #111;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 0 20px gold;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
  color: gold;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: gold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.auth-box button:hover {
  background: orange;
}

.auth-link {
  margin-top: 10px;
  display: block;
  color: #ccc;
  cursor: pointer;
}